/*background example */
.background-photo {
	height: 750px;
	width: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}	
.star {
	width: 70px;
	height: 60px;
	z-index: 5;
	position: absolute;
	top: 650px;
	left: 800px;
	animation: star 4s infinite
}
@keyframes star{ 
	from {left:12px;}
	to {left:10px;}
}
.moon {
	width: 70px;
	height: 60px;
	z-index: 5;
	position: absolute;
	top: 650px;
	left: 800px;
	animation: moon 4s infinite
}



